server.js
.env
node_modules
package.json
script.js
fonts
js
terms-of-use.html
privacy-policy.html
pokemon-spawn.html
index.html
feeding-and-improvements.html
fun.html
images
js
fonts
catching.html
package-lock.json
*.ignore